body{
    margin: 20%;
    padding: 0;
    background-color: blue;
}

#tpLogo{
    position: absolute;
    width: 95%;
    height: 150%;
    object-fit: contain;
    right: 2.5%;
    bottom: 1%
}

button{
    text-align: center;
    display: block;
    width: 100%;
    height: 200%;
    border-color: #fce803;
    background-color: orange;
}

#LoggedOut{
    position: absolute;
    left: 20%;
    top: 50%;
    bottom: 45%;
    width: 60%;
    display: block;
    font-size: 120%
}
#LoggedOut input{
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    height: 50%;
    background-color: #fce803;
}

#LoggedOut button{
    text-align: center;
    width: 102%;
    height: 100%;
    border-color: #fce803;
    background-color: orange;
}

.LoggedIn{
    position: absolute;
    left: 20%;
    top: 50%;
    bottom: 45%;
    width: 60%;
    display: none;
}

